/*
COLORS:

white: #0d0d0d #dcdcdc
black: #dcdcdc #0d0d0b
light black: #191919

*/
@import url("https://fonts.googleapis.com/css2?family=Karla:wght@400;500;700;800&display=swap");

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  /* box-sizing: inherit; */
}

html {
  font-size: 62.5%;
}

body {
  overflow-x: hidden;
  /* background: #e5e5e5; */
}

b {
  font-weight: 700;
}
h1 {
  font-family: "Karla", sans-serif;
  font-size: 6rem;
  line-height: 9rem;
  font-weight: 800;
  color: #08102d;
}

h2 {
  font-family: "Karla", sans-serif;
  font-size: 3.4rem;
  line-height: 4rem;
  font-weight: 700;
  color: #000000;
}

h3 {
  font-family: "Karla", sans-serif;
  font-size: 2.4rem;
  line-height: 3rem;
  font-weight: 700;
  color: #000000;
}

/* h4 {
  font-family: "Karla", sans-serif;
  font-size: 3.2rem;
  font-weight: 400;
  color: #273920;
  opacity: 90%;
} */

p {
  font-family: "Karla", sans-serif;
  font-size: 1.8rem;
  line-height: 3rem;
  font-weight: 500;
  color: #08102d;
}

li {
  font-family: "Karla", sans-serif;
  font-size: 1.8rem;
  line-height: 3rem;
  font-weight: 500;
  color: #08102d;
  margin: 0 2rem;
}

.btn_1 {
  background: #045c58;
  border-radius: 6px;
  width: 21rem;
}

.btn_1:hover {
  background: #03413d;
}

.btn_1 p {
  font-family: "Karla", sans-serif;
  font-size: 1.8rem;
  line-height: 3rem;
  font-weight: 500;
  color: #ffffff;
}

.btn_2 {
  background: #cdfcfa;
  border-radius: 6px;
  width: 21rem;
  border: 1.5px solid #045c58;
}

.btn_2:hover {
  background: #eefffe;
}

.btn_2 p {
  font-family: "Karla", sans-serif;
  font-size: 1.8rem;
  line-height: 3rem;
  font-weight: 500;
  color: #032406;
}

.btn_3 {
  background: #ffffff;
  border-radius: 6px;
  width: 31rem;
  border: 1.5px solid #045c58;
}

.btn_3:hover {
  background: #057c76;
}
.btn_3:hover h3 {
  color: #ffffff !important;
}

.btn_3 h3 {
  font-family: "Karla", sans-serif;
  margin-top: 5px !important;
  padding: 5px 0;
  color: #045c58 !important;
}

.hero-img {
  width: 49.7rem;
}

.points-section,
.hero-section,
.features-section,
.features2-section,
.features3-section,
.features4-section,
.footer-section,
.newsletter-section {
  padding: 5rem 0;
}

.features-section {
  background-color: #045c58;
  background-image: url(../assets/Ellipse11.svg);
  background-repeat: no-repeat;
  background-position: bottom left;
  background-size: 59rem 59rem;
}

.feature3-img {
  width: 50rem;
}

.features4-section {
  background-color: #00c7be;
  background-image: url(../assets/Ellipse11.svg);
  background-repeat: no-repeat;
  background-position: bottom left;
  background-size: 59rem 59rem;
  padding-bottom: 15rem;
}

.features-section p,
.features-section h3 {
  color: #ffffff;
}

.features4-section h2,
.features4-section h3 {
  color: #ffffff;
}

.features4-section h3 {
  color: #ffffff;
  font-weight: 500;
  /* margin-top: 2rem; */
}

.vl {
  border-left: 3px solid #57fef6;
  border-radius: 2px;
  height: auto;
}

.newsletter-input {
  width: 33rem;
  margin: 0;
  display: inline-block !important;
  height: 6rem;
  background-color: #d9fdfb;
  border-top-right-radius: 0%;
  border-bottom-right-radius: 0%;
}

.newsletter-input::placeholder {
  font-family: "Karla", sans-serif;
  font-size: 1.8rem;
  line-height: 3rem;
  font-weight: 500;
}

.btn_4 {
  display: inline-block;
  background-color: #057c76;
  color: #ffffff;
  margin: 0;
  margin-left: -10px;
  margin-top: -3px;
  border-radius: 0;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  height: 6rem;
  width: 21rem;
  font-family: "Karla", sans-serif;
  font-size: 1.8rem;
  line-height: 3rem;
  font-weight: 500;
}
.btn_4:hover {
  width: 23rem;
  transition: 2s;
}

.btn_4::after {
  width: 21rem;
  transition: 2s;
}

.btn_4 p {
  color: #ffffff;
}

.phoneape {
  position: absolute;
  left: 2rem;
  width: 32rem;
  transform: translateY(-15%);
  filter: drop-shadow(-11.1414px 22.2828px 23.3969px rgba(0, 0, 0, 0.15));
}

.unsplash {
  width: 64rem;
}

.elipse {
  width: 33rem;
}

.bottom-footer {
  background-color: #00c7be;
  padding: 15px 0;
}

.footer-icon {
  padding: 5px 2rem;
}

.footer-links li {
  margin: 0;
  padding: 1rem 0;
  cursor: pointer;
}

.footer-links li a {
  font-family: "Karla", sans-serif;
  font-size: 1.8rem;
  line-height: 3rem;
  font-weight: 500;
  color: #08102d;
  text-decoration: none;
}

.footer-links {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

/* Small devices (tablets, 768px and up) */
@media (max-width: 1243px) {
  html {
    font-size: 50%;
  }

  .feature3-img {
    width: 40rem;
  }

  .features-section {
    background-color: #045c58;
    background-image: none;
  }
  .features4-section {
    background-image: none;
  }

  .phoneape {
    transform: translateY(15%);
  }
}

/* Medium devices (desktops, 992px and up) */
@media (max-width: 992px) {
  .hero-img {
    display: block;
    width: 39.7rem;
  }

  .bitcoin {
    width: 5rem;
  }

  .unsplash {
    width: 45rem;
  }

  .newsletter-input {
    width: 23rem;
    margin: 0;
    display: inline-block !important;
    height: 6rem;
    background-color: #d9fdfb;
  }

  .newsletter-input::placeholder {
    font-family: "Karla", sans-serif;
    font-size: 1.5rem;
    line-height: 1.5rem;
    font-weight: 500;
  }

  .btn_4 {
    display: inline-block;
    background-color: #057c76;
    color: #ffffff;
    margin: 0;
    margin-left: -10px;
    margin-top: -3px;
    border-radius: 0;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    height: 6rem;
    width: 13rem;
    font-family: "Karla", sans-serif;
    font-size: 1.5rem;
    line-height: 1.5rem;
    font-weight: 500;
  }

  .btn_4 p {
    color: #ffffff;
  }
}

@media (max-width: 768px) {
  .hero-img {
    display: none;
  }

  li {
    font-family: "Karla", sans-serif;
    font-size: 1.8rem;
    line-height: 3rem;
    font-weight: 500;
    color: #08102d;
    margin: 1rem 0;
  }
}

/* Large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... } */
